@import '~@angular/material/theming';

@include mat-core();

$style-primary: mat-palette($mat-gray, 900);
$style-accent:  mat-palette($mat-green, 600);
$style-warn: mat-palette($mat-red);

$style-theme: mat-light-theme($style-primary, $style-accent, $style-warn);

@include angular-material-theme($style-theme);

.snack-bar-error{
  background: #F44336;
}

.imagem-login {
  background-image: url(assets/scales-of-justice.png);
  background-size: 172px;
  background-position: -11px -11px;
}
