.spacer-button {
  margin: 0px 0px 0px 10px;
  float:right;
}

.spacer-field {
  margin-top: 15px;
}

.form-container-usuario {
  display: flex;
  flex-direction: column;
  margin: 4% 6%;
}

.form-container-usuario > * {
  width: 100%;
}
