<form>
  <mat-card style="margin:10px">
    <div class="form-container-usuario" >

      <mat-form-field appearance="outline" class="spacer-field">
        <mat-label>Nome e sobrenome</mat-label>
        <input id="campoNome" matInput placeholder="Nome e sobrenome do usuário" [formControl]="campoNome"
            required>

        <mat-error *ngIf="campoNome.hasError('required')">
          O nome deve ser informado
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="spacer-field">
        <mat-label>Cargo</mat-label>
        <input id="campoCargo" matInput placeholder="Cargo do usuário" [formControl]="campoCargo"
            required>

        <mat-error *ngIf="campoCargo.hasError('required')">
          O cargo deve ser informado
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="spacer-field">
        <mat-label>Matrícula</mat-label>
        <input id="campoMatricula" matInput placeholder="Matrícula do usuário" [formControl]="campoMatricula"
            [textMask]="{mask: mascaraMatricula, guide: false}" required>

        <mat-error *ngIf="campoMatricula.hasError('required')">
          A matrícula deve ser informada
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="spacer-field">
        <mat-label>E-mail</mat-label>
        <input id="campoEmail" matInput placeholder="Endereço de e-mail do usuário"
            [formControl]="campoEmail" required>

        <mat-error *ngIf="campoEmail.hasError('email')">
          O e-mail informado não é válido
        </mat-error>
        <mat-error *ngIf="campoEmail.hasError('required')">
          O e-mail deve ser informado
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="spacer-field campo-tipo-usuario" *ngIf="!isEdicao">
        <mat-label>Tipo de usuário</mat-label>
        <mat-select id="campoTipoUsuario" [formControl]="campoTipoUsuario" required>
          <mat-option *ngFor="let tipo of tiposUsuarios" [value]="tipo">
            {{tipo}}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="campoTipoUsuario.hasError('required')">
          O tipo de usuário deve ser informado
        </mat-error>
      </mat-form-field>

      <div>
        <button id="botaoCadastrarUsuario" class="spacer-button" color="accent" mat-raised-button
            (click)="salvar()"> {{isEdicao ? 'ATUALIZAR' : 'SALVAR'}} </button>
        <a id="botaoCancelarCadastro" class="spacer-button" [routerLink]="isEdicao ? ['/agendamentos'] : ['/usuarios']"
            mat-raised-button> CANCELAR </a>
        <button id="botaoRedefinirSenha" *ngIf="isEdicao" class="spacer-button" mat-raised-button
            (click)="openDialog()">REDEFINIR SENHA</button>
        <button id="botaoDesativarConta" *ngIf="isEdicao" class="spacer-button" color="warn" mat-raised-button
            (click)="openDialogDesativacao()">DESATIVAR CONTA</button>
      </div>

    </div>
  </mat-card>
</form>
