.spacer-button {
  margin: 0px 0px 10px 10px;
  float:right;
}

.spacer-field {
  margin-top: 15px;
}

.form-container-usuario {
  display: flex;
  flex-direction: column;
  margin: 4% 6%;
}

.form-container-usuario > * {
  width: 100%;
}

.campo-tipo-usuario{
  margin-bottom: 25px;
}

/* DIALOG DE REDEFINIÇÃO DE SENHA */

#titulo-dialog{
  text-align: center;
}

.espacamento-card{
  margin: 10px 0px;
}

.titulo-card{
  font-size: 13px;
}

/* DIALOG DESATIVAÇÃO DE CONTA */

.espacamento-botoes-desativacao {
  margin: 0px 10px 10px 0px;
}
