<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Sistema de Alocação de Sessões Jurídicas</title>
</head>

<body style="margin: 0; padding: 0">

    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
        <tr>
            <td align="center" bgcolor="#398dba" style="padding: 10px 0 10px 0;">
                <img src="https://docs.google.com/uc?export=download&id=1Ig8_t_R69rr89IEwRadpPxlMy4AxuG08" alt="SASJ" width="200px" style="display: block;"/>                
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td style="color:black; font-size: 24px; font-family: Arial, sans-serif">
                            <b>NOMEDOUSUARIO</b>, bem-vindo ao sistema!
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 20px 0 30px 0; color:black; font-size: 16px; font-family: Arial, sans-serif; line-height: 20px">
                                Esta mensagem é para confirmar o seu cadastro.
                                A verificação de seu endereço de e-mail é necessária para que você possa ter acesso ao sistema.                                
                                Por favor, <a href="LINKDEVERIFICACAO" style="text-decoration: none; color:#398dba">clique aqui </a>
                                ou acesse o link abaixo para confirmar seu cadastro:                            
                                <br><br>
                                <a href="LINKDEVERIFICACAO" style="text-decoration: none; color:#398dba;font-size: 12px">LINKDEVERIFICACAO</a>
                                <br><br><br><br>
                                <small>Se por acaso você não solicitou esse cadastro, desconsidere esta mensagem.</small> 
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</body>

</html>