<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Lembrete da audiência</title>
</head>

<body style="margin: 0; padding: 0">

    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
        <tr>
            <td align="center" bgcolor="#FFFFFF" style="padding: 10px 0 10px 0;">
                <img src="https://docs.google.com/uc?export=download&id=1Ig8_t_R69rr89IEwRadpPxlMy4AxuG08" alt="SASJ" width="200px" style="display: block;"/>                
            </td>
        </tr>
        <tr>
            <td bgcolor="#FFFFFF" style="padding: 40px 30px 40px 30px;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td style="color:black; font-size: 24px; font-family: Arial, sans-serif">
                            <b>NOMEDAPARTEINTERESSADA</b>, uma conciliação que você faria parte foi adiada e ainda não tem uma nova data definida!
                            <br/>
                            Veja os detalhes abaixo.
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 20px 0 30px 0; color:black; font-size: 16px; font-family: Arial, sans-serif; line-height: 20px">
                                <b>Em qual data seria realizada?</b>
                                <br/>
                                DATAHORASESSAO
                                <br/>
                                <br/>
                                <b>Qual a nova data e horário?</b>
                                <br/>
                                Indefinidos.
                                <br/>
                                Assim que houver a definição de uma nova data você será notificado.
                                <br/>
                                <br/>
                                <b>Qual seria sua função?</b>    
                                <br/>
                                FUNCAODAPARTEINTERESSADA
                                <br/>
                                <br/>
                                <b>Status?</b>
                                <br/>
                                STATUSSESSAO
                                <br/>
                                <br/>
                                <b>Onde ocorrerá?</b>    
                                <br/>
                                <a href="https://www.google.com.br/maps/place/11%C2%AA+Vara+Federal+-+Subse%C3%A7%C3%A3o+Judici%C3%A1ria+de+Monteiro+-+PB/@-7.8925515,-37.1276351,17z/data=!3m1!4b1!4m5!3m4!1s0x7a88878af46e561:0x2d489a74823cd95e!8m2!3d-7.8925515!4d-37.1254464">
                                11ª Vara Federal - Subseção Judiciária de Monteiro - PB (clique aqui para visualizar no mapa)</a>              
                                <br><br>
                                <br><br><br><br>
                                <small>Se você não solicitou este lembrete, por favor desconsidere esta mensagem.</small> 
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</body>

</html>