<h2 mat-dialog-title id="titulo-dialog"> PESQUISA AVANÇADA </h2>
<form>
  <mat-card class="espacamento-card">
    <span style="margin-right: 5%" *ngIf="false"> Pequisar por: </span>
    <mat-radio-group [(ngModel)]="tipoSessaoPesquisada" name="radioTipoSessao" *ngIf="false">
      <mat-radio-button value="Audiências"> Audiências </mat-radio-button>
      <span style="padding: 3%"></span>
      <mat-radio-button value="Conciliações"> Conciliações </mat-radio-button>
    </mat-radio-group>

    <div style="padding: 2%;"></div>

    <div *ngIf="false">
      <mat-checkbox [(ngModel)]="isNumeroProcessoChecked" name="checkNumeroProcesso"
          (click)="setEnable(campoNumeroProcesso, isNumeroProcessoChecked)"></mat-checkbox>
      <span style="padding: 5px"></span>
      <mat-form-field class="spacer-field" style="width: 80%">
        <mat-label> Número do processo </mat-label>
        <input id="campoNumeroProcesso" matInput required [formControl]="campoNumeroProcesso"> <!-- [formControl]="campoNome" appearance="outline" -->

        <mat-error *ngIf="campoNumeroProcesso.hasError('required')">
          O número do processo deve ser informado
        </mat-error>
      </mat-form-field>
    </div>

    <div *ngIf="false">
      <mat-checkbox id="checkNomeParte" [(ngModel)]="isNomeParteChecked" name="checkNomeParte"
          (click)="setEnable(campoNomeParte, isNomeParteChecked)"> </mat-checkbox>
      <span style="padding: 5px"></span>
      <mat-form-field class="spacer-field" style="width: 80%">
        <mat-label>Nome da parte (processo)</mat-label>
        <input id="campoNomeParte" matInput required [formControl]="campoNomeParte"> <!-- [formControl]="campoNome" appearance="outline" -->

        <mat-error *ngIf="campoNomeParte.hasError('required')">
          O nome da parte deve ser informado
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-checkbox id="checkOitivas" [(ngModel)]="isQuantidadeOitivasChecked" name="checkOitivas"
          (click)="setEnable(campoOitivasA, isQuantidadeOitivasChecked, true, 'oitivas');">
        Quantidade de oitivas
      </mat-checkbox>
      <span style="padding: 2%"></span>
      <span style="margin-right: 10px;"></span>
      <mat-form-field class="spacer-field" style="width: 10%">
        <mat-label>de</mat-label>
        <input id="campoOitivasA" matInput required type="number" min="1" [formControl]="campoOitivasA"
            onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57">

        <mat-error *ngIf="campoOitivasA.hasError('required')">
          A quantidade de oitivas deve ser informada
        </mat-error>
      </mat-form-field>

      <span style="margin: 0px 10px;"></span>

      <mat-form-field class="spacer-field" style="width: 10%">
        <mat-label>até</mat-label>
        <input id="campoOitivasB" matInput required type="number" min="1" [formControl]="campoOitivasB"
            onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57">

        <mat-error *ngIf="campoOitivasB.hasError('required')">
          A quantidade de oitivas deve ser informada
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-checkbox id="checkStatus" [(ngModel)]="isStatusChecked" name="checkStatus"
          (click)="setEnable(campoStatus, isStatusChecked)"></mat-checkbox>
      <span style="padding: 5px"></span>
      <mat-form-field style="width: 30%">
        <mat-label>Status do agendamento</mat-label>
        <mat-select id="campoStatus" required [formControl]="campoStatus">
          <mat-option *ngFor="let status of tiposStatus" [value]="status">
            {{status}}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="campoStatus.hasError('required')">
          O status do agendamento deve ser informado
        </mat-error>
      </mat-form-field>
    </div>

    <div *ngIf="data.isAudiencia">
      <mat-checkbox id="checkTipoAudiencia" [(ngModel)]="isTipoAudienciaChecked" name="checkTipoAudiencia"
          (click)="setEnable(campoTipoAudiencia, isTipoAudienciaChecked)"></mat-checkbox>
      <span style="padding: 5px"></span>
      <mat-form-field>
        <mat-label>Tipo de Audiência</mat-label>
        <mat-select id="campoTipoAudiencia" required [formControl]="campoTipoAudiencia">
          <mat-option *ngFor="let tipo of tiposAudiencias" [value]="tipo.enum">
            {{tipo.label}}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="campoTipoAudiencia.hasError('required')">
          O tipo de audiência deve ser informado
        </mat-error>
      </mat-form-field>
    </div>

    <div *ngIf="!data.isAudiencia">
      <mat-checkbox id="checkConciliador" [(ngModel)]="isNomeConciliadorChecked" name="checkConciliador"
          (click)="setEnable(campoConciliador, isNomeConciliadorChecked)"></mat-checkbox>
      <span style="padding: 5px"></span>
      <mat-form-field class="spacer-field" style="width: 80%">
        <mat-label> Nome do conciliador </mat-label>
        <input id="campoConciliador" matInput required [formControl]="campoConciliador">

        <mat-error *ngIf="campoConciliador.hasError('required')">
          O nome do conciliador deve ser informado
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-checkbox id="checkData" [(ngModel)]="isDataSessaoChecked" name="checkDataSessao"
          (click)="setEnable(campoDataSessaoA, isDataSessaoChecked, true, 'data')">
        Data da sessão
      </mat-checkbox>
      <span style="padding: 2%"></span>
      <mat-form-field>
        <mat-label>De</mat-label>
        <input id="campoDataA" matInput placeholder="dd/mm/aaaa hh:mm" required [formControl]="campoDataSessaoA"
            [textMask]="{mask: mascaraData, guide: false}">

        <mat-error *ngIf="campoDataSessaoA.hasError('required')">
          A data deve ser informada
        </mat-error>
        <mat-error *ngIf="campoDataSessaoA.hasError('minlength') || campoDataSessaoA.hasError('validDate') && !campoDataSessaoA.hasError('required')">
          A data informada não é válida
        </mat-error>
      </mat-form-field>

      <span style="margin: 0px 10px;"></span>

      <mat-form-field>
        <mat-label>Até</mat-label>
        <input id="campoDataB" matInput placeholder="dd/mm/aaaa hh:mm" required [formControl]="campoDataSessaoB"
            [textMask]="{mask: mascaraData, guide: false}">

        <mat-error *ngIf="campoDataSessaoB.hasError('required')">
          A data deve ser informada
        </mat-error>
        <mat-error *ngIf="campoDataSessaoB.hasError('minlength') || campoDataSessaoB.hasError('validDate') && !campoDataSessaoB.hasError('required')">
          A data informada não é válida
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-checkbox id="checkDuracao" [(ngModel)]="isTempoDuracaoChecked" name="checkDuracao"
          (click)="setEnable(campoDuracaoA, isTempoDuracaoChecked, true, 'duracao');">
        Tempo de duração (minutos)
      </mat-checkbox>
      <span style="padding: 2%"></span>
      <span style="margin-right: 10px;"></span>
      <mat-form-field class="spacer-field" style="width: 15%">
        <mat-label>De</mat-label>
        <input id="campoDuracaoA" matInput required type="number" min="1" [formControl]="campoDuracaoA"
            onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57">

        <mat-error *ngIf="campoDuracaoA.hasError('required')">
          O tempo de duração deve ser informado
        </mat-error>
      </mat-form-field>

      <span style="margin: 0px 10px;"></span>

      <mat-form-field class="spacer-field" style="width: 15%">
        <mat-label>até</mat-label>
        <input id="campoDuracaoB" matInput required type="number" min="1" [formControl]="campoDuracaoB"
            onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57">

        <mat-error *ngIf="campoDuracaoB.hasError('required')">
          O tempo de duração deve ser informado
        </mat-error>
      </mat-form-field>
    </div>

    <div *ngIf="false">
      <mat-checkbox id="checkNomeParte" [(ngModel)]="isObservacaoChecked" name="checkObservacao"
          (click)="setEnable(campoObservacao, isObservacaoChecked)"></mat-checkbox>
      <span style="padding: 5px"></span>
      <mat-form-field class="spacer-field" style="width: 80%">
        <mat-label> Observação </mat-label>
        <input matInput required [formControl]="campoObservacao">

        <mat-error *ngIf="campoObservacao.hasError('required')">
          A observação deve ser informada
        </mat-error>
      </mat-form-field>
    </div>

    <div style="text-align: right;">
      <button id="botaoPesquisar" mat-raised-button color="accent" (click)="aplicarFiltro()"
          [disabled]="!enableButton">
        PESQUISAR
      </button>
    </div>
  </mat-card>
</form>
