<div class="div-filtro">
  <mat-form-field style="width: 40%" floatLabel="always">
    <mat-label>Filtrar</mat-label>
    <input matInput (keyup)="aplicarFiltro($event.target.value)" placeholder="Faça uma busca">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <a mat-button class="botao-busca-avancada">BUSCA AVANÇADA</a>
</div>

<div style="margin: 15px 0px">

  <table mat-table [dataSource]="dataSource" matSort style="width: 100%;">

    <ng-container matColumnDef="processo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> PROCESSO </th>
      <td mat-cell *matCellDef="let row"> {{row.processo}} </td>
    </ng-container>

    <ng-container matColumnDef="nomeParte">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> NOME DA PARTE </th>
      <td mat-cell *matCellDef="let row"> {{row.nomeParte}} </td>
    </ng-container>

    <ng-container matColumnDef="dataAudiencia">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> DATA DA AUDIÊNCIA </th>
      <td mat-cell *matCellDef="let row"> {{row.dataAudiencia}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> STATUS </th>
      <td mat-cell *matCellDef="let row" > {{row.status}} </td>
    </ng-container>

    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef> AÇÕES </th>
      <td mat-cell *matCellDef="let row" >
        <app-agendamento-detalhes></app-agendamento-detalhes>
        <button mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="colunasExibidas"></tr><!-- Determina quais colunas serão renderizadas -->
    <tr mat-row *matRowDef="let row; columns: colunasExibidas;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
