<div class="container-agendamento">
  <div style="display: flow-root;">
    <a mat-raised-button color="accent" style="float:right"
        [routerLink]="['/agendamentos/novo']">NOVO AGENDAMENTO</a>
  </div>

  <div style="margin-top: 15px">
    <mat-tab-group>
      <mat-tab label="AUDIÊNCIAS" >
        <app-agendamento-tabela [isAudiencia]="true"></app-agendamento-tabela>
      </mat-tab>

      <mat-tab label="CONCILIAÇÕES">
        <app-agendamento-tabela [isAudiencia]="false"></app-agendamento-tabela>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
