<h2 mat-dialog-title id="titulo-dialog">DETALHES DO USUÁRIO</h2>
<mat-dialog-content>

  <mat-card class="espacamento-card">
    <mat-card-content>
      <p>
        <span> <strong>Nome:</strong> {{usuario.nome}} </span>
      </p>
      <p>
        <span> <strong>Cargo:</strong> {{usuario.cargo}} </span>
      </p>
      <p>
        <span> <strong>Matrícula:</strong> {{usuario.matricula}} </span>
      </p>
      <p>
        <span> <strong>E-mail:</strong> {{usuario.email}} </span>
      </p>
      <p>
        <span> <strong>Tipo de conta:</strong> {{usuario.tipoUsuario === 'ADMIN' ? 'Administrador' : 'Padrão'}} </span>
      </p>
      <p>
        <span> <strong>Status:</strong> {{usuario.ativo ? 'Conta ativada' : 'Conta desativada'}} </span>
      </p>
    </mat-card-content>
  </mat-card>

</mat-dialog-content>

